body {
    font-family: Merriweather
}



.header {
    display: flex;
    background-position: relative;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding-top: 50px;
    padding-left: 140px;
    padding-right: 140px;
    background-image: url('resources/Banner\ Image.png'), url('resources/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: no-repeat top right bottom left;
    width: 1320px;
    height: 700px;
    margin-top: 50px;
    margin: 140px;
    margin: 140px;
    border-radius: 16px;
    border-radius: 16px;


}


.banner-text {
    color: #000000;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    margin-top: 620px;
    margin-left: 520px;
    margin-right: 530px;
}

.banner-title {
    color: #000000;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin-top: 100px;
    margin-bottom: 650px;
}

.holiday-deals {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: normal;
    margin-top: 100px;
    margin-bottom: 8px;
}

.holiday-deals-des {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin-top: 8px;
    margin-bottom: 2px;
}

.ny-pic {
    margin-bottom: 100px;
}

.categories {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 28px;
}

.welcome {
    background-image: url(resources/Vectorrr.png), url('resources/Group\ 70.png');
    width: 1320px;
    height: 600px;
    align-items: center;
    margin-left: 300px;
    margin-right: 140px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 120px;
    display: flex;

}

.greeting {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    padding-left: 100px;
    padding-bottom: 30px;

}

.invitation-des {
    color: rgb(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    padding-left: 15px;
    margin-left: 100px;
    font-weight: 400;
    line-height: 30px;
}

.year {
    padding-left: 250px;
    margin-bottom: 5px;
    margin-right: 80px;
    padding-right: 50px;
    display: flex;
}

.join {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    margin-top: 420px;
    margin-left: -1200px;

}



.destination {
    width: 1320px;
    height: 482px;
    color: #070211;
    font-family: Inter;
    background-image: url('resources/Vector.png');
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-left: 295px;
    margin-right: 130px;
    margin-bottom: 120px;
}

.venue {
    text-align: center;
    padding-top: 100px;
}

.des-type {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;

}

.join-now {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    margin-left: 80px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 100px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;

}


.container {
    align-items: center;
    justify-content: space-between;
}

.paragraph-1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-left: 150px;
}

.coming-soon-text {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-left: 150px;
}

.coming-offer {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.offer-year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.coming-offer-text {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    line-height: 32px;
    margin-right: 00px;
}

.coming-pic {
    align-items: center;
    width: 364px;
    height: 364px;
    flex-shrink: 0;
    border-radius: 364px;
    padding-left: 50px;
    padding-right: 50px;
    display: block;

}


.coming-offer {
    padding-left: 150px;
    background-repeat: no-repeat;
    background-position: center;


}


.offer-year {
    color: #F00;
    width: 276px;
    font-family: Inter;
    font-size: 48px;
    margin-top: 80px;
}

.coming-offer-text {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    line-height: 32px;
}

.happy-new-year {
    padding-left: 20px;
    padding-right: 100px;

}

.coming-content-right {
    padding-left: 150px;
}

.functional {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 100px;
    text-align: center;
}


.holiday {
    text-align: center;
    padding-bottom: 5px;
}

.holiday-color {
    color: #F00;
    text-align: center;
    font-size: 72px;
}

.sale {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
}

.sale-paragraph {
    color: rgba(7, 2, 17, 0.60);
    width: 1068px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    line-height: 32px;
    margin-left: 390px;
}

.discounts {
    padding: 30px 30px 30px 150px;
    display: flex;

}


.box-pic {
    padding-right: 100px;
    margin-left: 200px;
    margin-top: 215px;
    background-image: url('resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    flex-shrink: 0;
    border-radius: 16px 50px 16px 16px;
    background-size: auto;
}


.discount-pic {
    background-image: url('resources/Rectangle\ 1.png');
    background-repeat: no-repeat;
    width: 420px;
    height: 433px;
    flex-shrink: 0;
    margin-top: 50px;
    margin-bottom: 100px;

}

.gifts {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin-left: 350px;
    margin-top: 100px;
}

.awesome-portfolio {
    margin-bottom: 100px;
}

.awesome {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 350px;
}

.portfolio {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    margin-left: 350px;
}

.portfolio-pic {
    margin-left: 350px;
    margin-bottom: 24px;
}

.newsletter {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    margin-right: 150px;
    margin-left: 350px;
    margin-bottom: 100px;
    text-align: center;
}

.Subscribe {
    text-align: center;
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding-top: 30px;
}

.mail {
    padding-left: 5px;
    padding-top: 50px;
}

.sub-text {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    line-height: 32px;
    padding-left: 212px;
    margin-right: 212px;
    padding-bottom: 8px;
}

.user {
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    width: 248px;
    height: 38px;
    flex-shrink: 0;
    padding-left: 10px;
    border: none;
}

.sub-button {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    width: 120px;
    height: 44px;
    color: #FFF;
    text-align: center;
    border: none;
}

.footer {
    background: #070211;
    width: 2600px;
    height: 609px;
    flex-shrink: 0;
}